<div class="container-fluid">
	<div class="row-fluid">
		<h1>Registrate</h1>
		<form action="registro" method="post">
			<label>*Nombre</label>
			<input name="nombre" type="text" />
			<label>*Email</label>
			<input name="email" type="text" />
			<label>*Telefono</label>
			<input name="telefono" type="tel" />
			<br/>
			<input type="submit" value="Registrate" class="btn btn-primary">
		</form>
	</div>
</div>

