<div class="container-fluid">
	<div class="row-fluid">
		<div class="span7">
			<h1>Landing Page</h1>
			<h2>Instrucciones de la promoción, informacion base.</h2>
			<div class="btn btn-primary" onclick="top.location = 'https://www.facebook.com/dialog/oauth?client_id=115162228693126&redirect_uri=https://apps.facebook.com/sopanesobre-dev/&scope=email,user_birthday';">Participa aquí!</div>
		</div>
	</div>
</div>