<div class="container-fluid">
	<div class="row-fluid">
		<div class="span7">
			<h1>Landing Page</h1>
			<h2>Instrucciones de la promoción, informacion base.</h2>
			<a href="/facebook/authorize" class="btn btn-primary">Participa aquí!</a>
		</div>
	</div>
</div>